<h1 mat-dialog-title>Editar Monitorador</h1>

<div mat-dialog-content>

  <form [formGroup]="editarForm">
    <h2>Informações</h2>

    <div *ngIf="feedbackError" class="notify-error" [innerHTML]='feedbackMessage'></div>

    <div class="row">
      <div class="col-9">
        <mat-form-field>
          <mat-label>Tipo de Pessoa</mat-label>
          <mat-select formControlName="tipo" (selectionChange)="onChangeTipo()">
            <mat-option value="FISICA">Física</mat-option>
            <mat-option value="JURIDICA">Jurídica</mat-option>
          </mat-select>
          <mat-error>Tipo da Pessoa é obrigatório!</mat-error>
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-form-field>
          <mat-label>Status</mat-label>
          <mat-select formControlName="ativo">
            <mat-option [value]="true">Ativo</mat-option>
            <mat-option [value]="false">Inativo</mat-option>
          </mat-select>
          <mat-error>Status obrigatório!</mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-4">
        <mat-form-field> <!-- *ngIf="cadastrarForm.controls['tipo'].value != 'FISICA'" -->
          <mat-label>CNPJ</mat-label>
          <input matInput placeholder="00.000.000/0000-00" formControlName="cnpj" mask="00.000.000/0000-00">
          <mat-error>CNPJ é obrigatório!</mat-error>
        </mat-form-field>
      </div>

      <div class="col-4">
        <mat-form-field>
          <mat-label>Razão Social</mat-label>
          <input matInput formControlName="razao">
          <mat-error>Razão Social é obrigatória!</mat-error>
        </mat-form-field>
      </div>

      <div class="col-4">
        <mat-form-field>
          <mat-label>Inscrição Estadual</mat-label>
          <input matInput formControlName="inscricao">
          <mat-error>IE é obrigatório!</mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-4">
        <mat-form-field> <!-- *ngIf="cadastrarForm.controls['tipo'].value != 'JURIDICA'" -->
          <mat-label>CPF</mat-label>
          <input matInput placeholder="000.000.000-00" formControlName="cpf" mask="000.000.000-00">
          <mat-error>CPF é obrigatório!</mat-error>
        </mat-form-field>
      </div>

      <div class="col-4">
        <mat-form-field>
          <mat-label>Nome</mat-label>
          <input matInput formControlName="nome">
          <mat-error>Nome é obrigatório!</mat-error>
        </mat-form-field>
      </div>

      <div class="col-4">
        <mat-form-field>
          <mat-label>RG</mat-label>
          <input matInput formControlName="rg">
          <mat-error>RG é obrigatório!</mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-4">
        <mat-form-field>
          <mat-label>Data</mat-label>
          <input matInput placeholder="00/00/0000" formControlName="data" mask="XX/XX/XXXX">
          <mat-error>Data é obrigatória!</mat-error>
        </mat-form-field>
      </div>

      <div class="col-8">
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput placeholder="email@example.com" formControlName="email">
          <mat-error>Email é obrigatório!</mat-error>
        </mat-form-field>
      </div>
    </div>
  </form>

</div>
<div mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Fechar</button>
  <button mat-button (click)="onSubmit(editarForm.value)" [disabled]="!editarForm.valid" color="warn">Editar</button>
</div>
