<h1 mat-dialog-title>Importação</h1>

<div mat-dialog-content>

  <label class="form-label">Se já possui o arquivo, insira no local abaixo</label>

  <form>
    <div class="input-group">
      <input class="form-control form-control" type="file" accept=".xls, .xlsx">
      <button mat-flat-button color="primary" class="rounded-end-pill">Importar</button>
    </div>
  </form>

  <div *ngIf="feedbackError" class="notify-error" [innerHTML]='feedbackMessage'></div>

  <div *ngIf="feedbackSuccess" class="notify-success" [innerHTML]='feedbackMessage'></div>

  <hr class="border-2">

  <label class="form-label">Se você não tiver o modelo faça o download para fazer importação</label>
  <button mat-raised-button color="primary" (click)="downloadModel()">Baixar arquivo <i class="fa-solid fa-download"></i></button>

</div>

<div mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Fechar</button>
</div>
