<h1 mat-dialog-title>Cadastrar</h1>

<div mat-dialog-content>

<div>

  <form>
    <h2>Informações</h2>
    <div>
      <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="10px">
        <div fxLayout="column" fxFlex>
          <mat-form-field>
            <mat-label>Tipo de Pessoa</mat-label>
            <mat-select> <!-- (selectionChange)="onChangeTipo()" -->
              <mat-option value="FISICA">Física</mat-option>
              <mat-option value="JURIDICA">Jurídica</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxLayout="column" fxFlex>
          <mat-form-field>
            <mat-label>Status</mat-label>
            <mat-select> <!-- (selectionChange)="onChangeTipo()" -->
              <mat-option value="true">Ativo</mat-option>
              <mat-option value="false">Inativo</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="10px">
        <div fxLayout="column" fxFlex>
          <mat-form-field>
            <mat-label>CNPJ</mat-label>
            <input matInput placeholder="00.000.000/0000-00">
          </mat-form-field>
        </div>

        <div fxLayout="column" fxFlex>
          <mat-form-field>
            <mat-label>Razão Social</mat-label>
            <input matInput>
          </mat-form-field>
        </div>

        <div fxLayout="column" fxFlex>
          <mat-form-field>
            <mat-label>Inscrição Estadual</mat-label>
            <input matInput>
          </mat-form-field>
        </div>
      </div>

      <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="10px">
        <div fxLayout="column" fxFlex>
          <mat-form-field>
            <mat-label>CPF</mat-label>
            <input matInput placeholder="000.000.000-00">
          </mat-form-field>
        </div>

        <div fxLayout="column" fxFlex>
          <mat-form-field>
            <mat-label>Nome</mat-label>
            <input matInput>
          </mat-form-field>
        </div>

        <div fxLayout="column" fxFlex>
          <mat-form-field>
            <mat-label>RG</mat-label>
            <input matInput>
          </mat-form-field>
        </div>
      </div>

      <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="10px">
        <div fxLayout="column" fxFlex>
          <mat-form-field>
            <mat-label>Data</mat-label>
            <input matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>

        <div fxLayout="column" fxFlex>
          <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput placeholder="email@example.com">
          </mat-form-field>
        </div>
      </div>
    </div>


    <h2>Informações</h2>

    <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="10px">
      <div fxLayout="column" fxFlex>
        <mat-form-field>
          <mat-label>Tipo de Pessoa</mat-label>
          <mat-select> <!-- (selectionChange)="onChangeTipo()" -->
            <mat-option value="FISICA">Física</mat-option>
            <mat-option value="JURIDICA">Jurídica</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxLayout="column" fxFlex="20">
        <mat-form-field>
          <mat-label>Status</mat-label>
          <mat-select> <!-- (selectionChange)="onChangeTipo()" -->
            <mat-option value="true">Ativo</mat-option>
            <mat-option value="false">Inativo</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="10px">
      <div fxLayout="column" fxFlex>
        <mat-form-field>
          <mat-label>CNPJ</mat-label>
          <input matInput placeholder="00.000.000/0000-00">
        </mat-form-field>
      </div>

      <div fxLayout="column" fxFlex>
        <mat-form-field>
          <mat-label>Razão Social</mat-label>
          <input matInput>
        </mat-form-field>
      </div>

      <div fxLayout="column" fxFlex>
        <mat-form-field>
          <mat-label>Inscrição Estadual</mat-label>
          <input matInput>
        </mat-form-field>
      </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="10px">
      <div fxLayout="column" fxFlex>
        <mat-form-field>
          <mat-label>CPF</mat-label>
          <input matInput placeholder="000.000.000-00">
        </mat-form-field>
      </div>

      <div fxLayout="column" fxFlex>
        <mat-form-field>
          <mat-label>Nome</mat-label>
          <input matInput>
        </mat-form-field>
      </div>

      <div fxLayout="column" fxFlex>
        <mat-form-field>
          <mat-label>RG</mat-label>
          <input matInput>
        </mat-form-field>
      </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="10px">
      <div fxLayout="column" fxFlex>
        <mat-form-field>
          <mat-label>Data</mat-label>
          <input matInput [matDatepicker]="picker">
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>

      <div fxLayout="column" fxFlex>
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput placeholder="email@example.com">
        </mat-form-field>
      </div>
    </div>
  </form>

</div>
</div>

<div mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Fechar</button>
  <button mat-button color="primary">Cadastrar</button>
</div>
