<h1 mat-dialog-title>Cadastrar Monitorador</h1>

<div mat-dialog-content>

  <form [formGroup]="cadastrarForm">
    <h2>Informações</h2>

    <div *ngIf="feedbackError" class="notify-error" [innerHTML]='feedbackMessage'></div>

    <div *ngIf="feedbackSuccess" class="notify-success" [innerHTML]='feedbackMessage'></div>

    <div class="row">
      <div class="col-9">
        <mat-form-field>
          <mat-label>Tipo de Pessoa</mat-label>
          <mat-select formControlName="tipo"> <!-- (selectionChange)="onChangeTipo()" -->
            <mat-option value="FISICA">Física</mat-option>
            <mat-option value="JURIDICA">Jurídica</mat-option>
          </mat-select>
          <mat-error>Tipo da Pessoa é obrigatório!</mat-error>
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-form-field>
          <mat-label>Status</mat-label>
          <mat-select formControlName="ativo">
            <mat-option [value]="true">Ativo</mat-option>
            <mat-option [value]="false">Inativo</mat-option>
          </mat-select>
          <mat-error>Status obrigatório!</mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-4">
        <mat-form-field *ngIf="isJuridica()">
          <mat-label>CNPJ</mat-label>
          <input matInput placeholder="00.000.000/0000-00" formControlName="cnpj">
          <mat-error>CNPJ é obrigatório!</mat-error>
        </mat-form-field>
      </div>

      <div class="col-4">
        <mat-form-field *ngIf="isJuridica()">
          <mat-label>Razão Social</mat-label>
          <input matInput formControlName="razao">
          <mat-error>Razão Social é obrigatória!</mat-error>
        </mat-form-field>
      </div>

      <div class="col-4">
        <mat-form-field *ngIf="isJuridica()">
          <mat-label>Inscrição Estadual</mat-label>
          <input matInput formControlName="inscricao">
          <mat-error>IE é obrigatório!</mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-4">
        <mat-form-field *ngIf="isFisica()">
          <mat-label>CPF</mat-label>
          <input matInput placeholder="000.000.000-00" formControlName="cpf">
          <mat-error>CPF é obrigatório!</mat-error>
        </mat-form-field>
      </div>

      <div class="col-4">
        <mat-form-field *ngIf="isFisica()">
          <mat-label>Nome</mat-label>
          <input matInput formControlName="nome">
          <mat-error>Nome é obrigatório!</mat-error>
        </mat-form-field>
      </div>

      <div class="col-4">
        <mat-form-field *ngIf="isFisica()">
          <mat-label>RG</mat-label>
          <input matInput formControlName="rg">
          <mat-error>RG é obrigatório!</mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-4">
        <mat-form-field>
          <mat-label>Data</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="data">
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error>Data é obrigatória!</mat-error>
        </mat-form-field>
      </div>

      <div class="col-8">
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput placeholder="email@example.com" formControlName="email">
          <mat-error>Email é obrigatório!</mat-error>
        </mat-form-field>
      </div>
    </div>

    <!--
    <div formGroupName="enderecos" class="mt-3">

      <h2>Endereço</h2>

      <div class="row">
        <div class="col-8">
          <mat-form-field>
            <mat-label>CEP</mat-label>
            <input matInput formControlName="cep">
            <mat-icon matSuffix><i class="fa-solid fa-magnifying-glass"></i></mat-icon>
            <mat-error>CEP é obrigatório!</mat-error>
          </mat-form-field>
        </div>
        <div class="col-4">
          <mat-form-field>
            <mat-label>Principal</mat-label>
            <mat-select formControlName="principal">
              <mat-option [value]="true">Sim</mat-option>
              <mat-option [value]="false">Não</mat-option>
            </mat-select>
            <mat-error>Principal é obrigatório!</mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-5">
          <mat-form-field>
            <mat-label>Endereço</mat-label>
            <input matInput formControlName="endereco">
            <mat-error>Endereço é obrigatório!</mat-error>
          </mat-form-field>
        </div>
        <div class="col-3">
          <mat-form-field>
            <mat-label>Número</mat-label>
            <input matInput formControlName="numero">
            <mat-error>Obrigatório!</mat-error>
          </mat-form-field>
        </div>
        <div class="col-4">
          <mat-form-field>
            <mat-label>Bairro</mat-label>
            <input matInput formControlName="bairro">
            <mat-error>Bairro é obrigatório!</mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-5">
          <mat-form-field>
            <mat-label>Cidade</mat-label>
            <input matInput formControlName="cidade">
            <mat-error>Cidade é obrigatória!</mat-error>
          </mat-form-field>
        </div>
        <div class="col-3">
          <mat-form-field>
            <mat-label>Estado</mat-label>
            <mat-select formControlName="estado">
              <mat-option *ngFor="let estado of estados;" [value]="estado">{{estado}}</mat-option>
            </mat-select>
            <mat-error>Obrigatório!</mat-error>
          </mat-form-field>
        </div>
        <div class="col-4">
          <mat-form-field>
            <mat-label>Telefone</mat-label>
            <input matInput formControlName="telefone">
            <mat-error>Telefone é obrigatório!</mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>
    -->
  </form>

</div>
<div mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Fechar</button>
  <button mat-button (click)="onSubmit(cadastrarForm.value)" color="primary">Cadastrar</button>
</div>
