<div mat-dialog-content>

  <div class="text-center">
    <i class="fa-solid fa-trash"></i>
    <h2>Você tem certeza?</h2>
    <label>
      Você realmente deseja excluir esse registro?
      Este processo não pode ser desfeito.
    </label>
  </div>

  <div class="notify-error">
    O monitorador não pode ter endereço cadastrado!
  </div>

  <div class="notify-success">
    Monitorador excluido com sucesso!
  </div>

</div>

<div mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Fechar</button>
  <button mat-button color="warn">Excluir</button>
</div>
